// length
$base_len = 500px
$half     = 50%
$1_3      = 100% / 3
$1_6      = 100% / 6

$half_weight = 0% 2% 5% 25% 45% 48% 50%

// color
$bg_color = #0A49BF
// $bg_color = black

// transitions
$transition_props = width height background-color border-radius
$duration         = 300ms
$easing           = 'cubic-bezier(.16,1.02,.67,1)'
// $easing           = 'cubic-bezier(0.845, 0.025, 0.530, 0.015)'

// functions
circle()
  border-radius 50%
