@import 'nib'

.lines-emblem
  margin     0
  padding    0
  display    block
  position   relative
  width      $base_len
  height     $base_len
  background transparent

.lines-emblem .part
  will-change background-color
.lines-emblem .part .whitebox-wrapper
  will-change top, left, width, height
.lines-emblem .part .whitebox-wrapper .whitebox
  will-change border-radius, width, height, top, left, right, bottom

.lines-emblem
  .part
    margin     0
    padding    0
    display    block
    position   absolute
    width      $1_3
    height     $1_3
    overflow   hidden
    border     none
    background transparent

// detail

for i in (0..6)
  $half      = $half_weight[i]
  $weight    = $half * 2
  $box_side  = 100% - $weight
  $wrap_side = 200% - $weight
  $adjust    = 100% / $wrap_side
  .lines-emblem.weight_{i}
    .part
      background $bg_color
      .whitebox-wrapper
        absolute top (-1 * (50% - $half)) left (-1 * (50% - $half))
        size $wrap_side $wrap_side
        .whitebox
          background white
          &.pos_0
            absolute top 0 left 0
          &.pos_1
            absolute top 0 right 0
          &.pos_2
            absolute bottom 0 left 0
          &.pos_3
            absolute bottom 0 right 0
    .part.i-shaped
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1, &.pos_2, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
      &.rotate90
        .whitebox
          &.pos_0, &.pos_1, &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
    .part.l-shaped
      &.rotate0
        .whitebox
          &.pos_0
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_1, &.pos_2
            size $box_side * $adjust $box_side * $adjust
          &.pos_3
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_2
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_0, &.pos_3
            size $box_side * $adjust $box_side * $adjust
          &.pos_1
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_3
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_1, &.pos_2
            size $box_side * $adjust $box_side * $adjust
          &.pos_0
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_1
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_0, &.pos_3
            size $box_side * $adjust $box_side * $adjust
          &.pos_2
            size ($box_side + $weight) * $adjust $box_side * $adjust
    .part.l-shaped-radius
      &.rotate0
        .whitebox
          &.pos_0
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_1
            circle()
          &.pos_1, &.pos_2
            size $box_side * $adjust $box_side * $adjust
          &.pos_3
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_2
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_3
            circle()
          &.pos_0, &.pos_3
            size $box_side * $adjust $box_side * $adjust
          &.pos_1
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_3
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_2
            circle()
          &.pos_1, &.pos_2
            size $box_side * $adjust $box_side * $adjust
          &.pos_0
            size ($box_side + $weight) * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_1
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_0
            circle()
          &.pos_0, &.pos_3
            size $box_side * $adjust $box_side * $adjust
          &.pos_2
            size ($box_side + $weight) * $adjust $box_side * $adjust
    .part.t-shaped
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_2, &.pos_3
            size $box_side * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_0, &.pos_2
            size $box_side * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_0, &.pos_1
            size $box_side * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_1, &.pos_3
            size $box_side * $adjust $box_side * $adjust
    .part.t-shaped-radius
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_2, &.pos_3
            circle()
            size $box_side * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_0, &.pos_2
            circle()
            size $box_side * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_0, &.pos_1
            circle()
            size $box_side * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_1, &.pos_3
            circle()
            size $box_side * $adjust $box_side * $adjust
    .part.t-shaped-l-radius
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_2
            circle()
          &.pos_2, &.pos_3
            size $box_side * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_0
            circle()
          &.pos_0, &.pos_2
            size $box_side * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_1
            circle()
          &.pos_0, &.pos_1
            size $box_side * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_3
            circle()
          &.pos_1, &.pos_3
            size $box_side * $adjust $box_side * $adjust
    .part.t-shaped-r-radius
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_3
            circle()
          &.pos_2, &.pos_3
            size $box_side * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_2
            circle()
          &.pos_0, &.pos_2
            size $box_side * $adjust $box_side * $adjust
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
          &.pos_0
            circle()
          &.pos_0, &.pos_1
            size $box_side * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            size $box_side * $adjust ($box_side + $half) * $adjust
          &.pos_1
            circle()
          &.pos_1, &.pos_3
            size $box_side * $adjust $box_side * $adjust
    .part.dash-shaped
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_2, &.pos_3
            size ($box_side + $half) * $adjust $box_side * $adjust
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            size ($box_side + $weight) * $adjust $box_side * $adjust
          &.pos_0, &.pos_2
            size $box_side * $adjust ($box_side + $half) * $adjust
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            size $box_side * $adjust ($box_side + $weight) * $adjust
          &.pos_0, &.pos_1
            size ($box_side + $half) * $adjust $box_side * $adjust
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            size ($box_side + $weight) * $adjust $box_side * $adjust
          &.pos_1, &.pos_3
            size $box_side * $adjust ($box_side + $half) * $adjust
    .part.cross-shaped
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1, &.pos_2, &.pos_3
            size $box_side * $adjust $box_side * $adjust
    .part.cross-shaped-radius
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1, &.pos_2, &.pos_3
            circle()
            size $box_side * $adjust $box_side * $adjust
    .part.cross-shaped-3-radius
      .whitebox
        &.pos_0, &.pos_1, &.pos_2, &.pos_3
          size $box_side * $adjust $box_side * $adjust
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1, &.pos_2
            circle()
      &.rotate90
        .whitebox
          &.pos_0, &.pos_1, &.pos_3
            circle()
      &.rotate180
        .whitebox
          &.pos_1, &.pos_2, &.pos_3
            circle()
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2, &.pos_3
            circle()
    .part.cross-shaped-1-radius
      .whitebox
        &.pos_0, &.pos_1, &.pos_2, &.pos_3
          size $box_side * $adjust $box_side * $adjust
      &.rotate0
        .whitebox
          &.pos_0
            circle()
      &.rotate90
        .whitebox
          &.pos_1
            circle()
      &.rotate180
        .whitebox
          &.pos_3
            circle()
      &.rotate270
        .whitebox
          &.pos_2
            circle()
    .part.cross-shaped-2-radius
      .whitebox
        &.pos_0, &.pos_1, &.pos_2, &.pos_3
          size $box_side * $adjust $box_side * $adjust
      &.rotate0
        .whitebox
          &.pos_0, &.pos_1
            circle()
      &.rotate90
        .whitebox
          &.pos_1, &.pos_3
            circle()
      &.rotate180
        .whitebox
          &.pos_2, &.pos_3
            circle()
      &.rotate270
        .whitebox
          &.pos_0, &.pos_2
            circle()
    .part.cross-shaped-diagonal-radius
      .whitebox
        &.pos_0, &.pos_1, &.pos_2, &.pos_3
          size $box_side * $adjust $box_side * $adjust
      &.rotate0
        .whitebox
          &.pos_0, &.pos_3
            circle()
      &.rotate90
        .whitebox
          &.pos_1, &.pos_2
            circle()
    .part.blank
      .whitebox
        &.pos_0, &.pos_1, &.pos_2, &.pos_3
          size ($box_side + $half) * $adjust ($box_side + $half) * $adjust




// positioning
.pos_0_0
  left 0
  top  0
.pos_0_1
  left 0
  top  $1_3 * 1
.pos_0_2
  left 0
  top  $1_3 * 2
.pos_1_0
  left $1_3 * 1
  top  0
.pos_1_1
  left $1_3 * 1
  top  $1_3 * 1
.pos_1_2
  left $1_3 * 1
  top  $1_3 * 2
.pos_2_0
  left $1_3 * 2
  top  0
.pos_2_1
  left $1_3 * 2
  top  $1_3 * 1
.pos_2_2
  left $1_3 * 2
  top  $1_3 * 2
.pos_3_0
  left $1_3 * 3
  top  0
.pos_3_1
  left $1_3 * 3
  top  $1_3
.pos_3_2
  left $1_3 * 3
  top  $1_3 * 2
